<% @page_title = "Profile" -%>
<h1 class='User_Header'>Username: <%=@current_user[:username]%></h1>
<h3>
Email: <%=@current_user[:email]%> </br>
Name: <% if (@current_user[:first_name] && @current_user[:last_name]) %>
<%=@current_user[:first_name]  + " "  + @current_user[:last_name] %>
	<% else%>
		<%= @nil%>
<% end %>
</br>

Company: <% if (@current_user[:company]) %>
	<%=@current_user[:company]%>
<% else%>
	<%= @nil%>
<% end %>
 </br>
</br>

Total Problem Submissions: <%=@total %> </br>
Correct submissions: <%=@correct %> </br>
C++ submissions: <%=@type[0] %> </br>
Python submissions: <%=@type[1] %> </br>
Java submissions: <%=@type[2] %> </br>


</h3>
<%= link_to "Logout", :controller => 'sessions', :action => 'destroy' %>
<%= link_to "Modify Profile Settings", sessions_setting_path%>
