<h1>Solution Submitted</h1>
<p>
  <strong>Language:</strong>
  <%= @solution_submission.language %>
</p>
 
<p>
  <strong>Code Submitted:</strong>
  <%= form_for :display do |f| %>
  <%= f.text_area :code_submit, :value => @solution_submission.submitted_code, size: "70x10", :readonly => true %><br>
  <% end %>
</p>

<p>
  <strong>Stdout:</strong>
  <%= simple_format(@solution_submission.generated_stdout) %>
</p>

<p>
  <strong>Solution status:</strong>
  <%= simple_format(@solution_submission.solution_status) %>
</p>

<%= link_to 'Problems List', problems_path %>