<h1>Solution Submitted</h1>
<p>
  <strong>Language:</strong>
  <%= @solution_submission.language %>
</p>
 
<p>
  <strong>Code Submitted:</strong>
  <%= form_for :display do |f| %>
  <%= f.text_area :code_submit, :value => @solution_submission.submitted_code, size: "70x10", :readonly => true %><br>
  <% end %>
</p>

<p>
  <strong>Stdout:</strong>
  <%= simple_format(@solution_submission.generated_stdout) %>
</p>

<p>
  <strong>Stderr:</strong>
  <code>
  <%= simple_format(@solution_submission.generated_errors) %>
  </code>
</p>

<p>
  <strong>Solution status:</strong>
  <%= simple_format(@solution_submission.solution_status) %>
</p>



<%= link_to 'Back to Problem', problem_path(@problem.id), class:"btn btn-primary" %> <%= link_to 'View Submissions', solution_submissions_path(:problem_id => @problem.id), class:"btn btn-success" %><br>