<h1>Problems List</h1>

<p><b>Supported problems:</b> User submitted code is tested with our test cases, the submission is checked and saved</p>

<p><b>Unsupported problems:</b> User submitted code is compiled and executed by itself. The submission is marked incorrect since there are no test files to check it</p>

<p>
<%= form_tag(problems_path, :method => 'get', class: "form-inline", id: "search-form") do %>
    <%= text_field_tag :search, params[:search] %>   <%= submit_tag "Search", :name => nil %> <br>

    <%= radio_button_tag(:difficulty_level, "Easy") %>
    <%= label_tag(:Easy, "Easy") %>
    <%= radio_button_tag(:difficulty_level, "Medium") %>
    <%= label_tag(:Medium, "Medium") %>
    <%= radio_button_tag(:difficulty_level, "Hard") %>
    <%= label_tag(:Hard, "Hard") %><br>

    <%= check_box_tag 'SortName', 'SortName' %>
    <%= label_tag(:Name, "Sort by Name") %><br>
  
<% end %>

</p>


<table class="table table-hover">
  <tr>
    <th style="text-align:center;">Problem</th>
    <th style="text-align:center;">Area</th>
    <th style="text-align:center;">Max Score</th>
    <th style="text-align:center;">Difficulty</th>
    <th style="text-align:center;">Suppported</th>
  </tr>
 
  <% @problems.each do |problem| %>
    <tr>
      <td style="text-align:left;"><%= link_to problem.problem_title, problem_path(problem.id) %></td>
      <td style="text-align:center;"><%= problem.problem_area %></td>
      <td style="text-align:center;"><%= problem.total_score %></td>
      <td style="text-align:center;"><%= problem.difficulty_level %></td>
      <% if problem.supported_langs != nil %>
        <td style="text-align:center;">Supported</td>
      <%else%>
        <td style="text-align:center;">Unsupported</td>
      <%end%>

    </tr>
  <% end %>
</table>