<h2><%= @problem.problem_title %></h2>

<p>
  <strong>Problem Statment</strong><br>
  <%= @problem.problem_description %>  
</p>

<p>
  <strong>Input Description</strong><br>
  <%= @problem.input_description %>  
</p>

<p>
  <strong>Output Description</strong><br>
  <%= @problem.output_description %>  
</p>

<p>
  <strong>Sample Input</strong><br>
  <code>
  <%= simple_format(@problem.sample_input) %>  
  </code>
</p>

<p>
  <strong>Sample Output</strong><br>
  <code>
  <%= simple_format(@problem.sample_output) %>  
  </code>

</p>

<p>

<% if @problem.skeleton_code != nil %>
  <h3>Skeleton Codes</h3>
    <%= form_for :display do |f| %>
    <%= f.label :title, 'C/C++' %><br>
    <%= f.text_area :c_sk, :value => @problem.skeleton_code[0], size: "30x10", :readonly => true %><br>

    <%= f.label :title, 'Java' %><br>
    <%= f.text_area :j_sk, :value => @problem.skeleton_code[1], size: "30x10", :readonly => true %><br>

    <%= f.label :title, 'Python2' %><br>
    <%= f.text_area :p_sk, :value => @problem.skeleton_code[2], size: "30x10", :readonly => true %><br>
  <% end %>
    
  </p>
<% end %>

 
<p>
  <strong>Code Editor</strong><br>

  <pre id="editor">function foo(items) {
    var i;
    for (i = 0; i &lt; items.length; i++) {
        alert("Ace Rocks " + items[i]);
    }
}</pre>

<script src="ace-builds-master/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/javascript");
</script>

  <%= form_for :solution_submission, url: solution_submissions_path do |f| %>  <p>
    <%= f.label :title, 'Write your solution' %><br>
    <%= f.text_area :submitted_code %><br>
    
    <%= f.label :title, 'Standard Input' %><br>
    <%= f.text_area :stdin, :placeholder => "" %><br>

    <%= f.hidden_field :problem_id, value: @problem.id %><br>

	
	<%= f.radio_button :language, 'C/C++', :checked => true %>
    <%= f.label :language, 'C/C++' %>
    <%= f.radio_button :language, 'Java' %>
    <%= f.label :language, 'Java'%>
    <%= f.radio_button :language, 'Python' %>
    <%= f.label :language, 'Python'%>
 
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
  
</p>

<%= link_to 'Back to Problems List', problems_path %>