<h2><%= @problem.problem_title %></h2>

<%= link_to 'Back to Problems List', problems_path, class:"btn btn-primary" %>  <%= link_to 'View Submissions', solution_submissions_path(:problem_id => @problem.id), class:"btn btn-success" %><br>
<p>
  <strong>Problem Statment</strong><br>
  <%= @problem.problem_description %>  
</p>

<p>
  <strong>Input Description</strong><br>
  <%= @problem.input_description %>  
</p>

<p>
  <strong>Output Description</strong><br>
  <%= @problem.output_description %>  
</p>

<p>
  <strong>Sample Input</strong><br>
  <code>
  <%= simple_format(@problem.sample_input) %>  
  </code>
</p>

<p>
  <strong>Sample Output</strong><br>
  <code>
  <%= simple_format(@problem.sample_output) %>  
  </code>

</p>

<!--
<% if @problem.skeleton_code != nil %>
<p>

<h3>Skeleton Codes</h3>
  <%= form_for :display do |f| %>
  <%= f.label :title, 'C/C++' %><br>
  <%= f.text_area :c_sk, :value => @problem.skeleton_code[0], size: "70x12", :readonly => true %><br>

  <%= f.label :title, 'Java' %><br>
  <%= f.text_area :j_sk, :value => @problem.skeleton_code[1], size: "70x12", :readonly => true %><br>

  <%= f.label :title, 'Python2' %><br>
  <%= f.text_area :p_sk, :value => @problem.skeleton_code[2], size: "70x12", :readonly => true %><br>
<% end %>
  
</p>
<% end %>
-->

 
<p>
  <strong>Code Editor</strong><br>

<!--
<pre id="editor">
  //Your code goes here.
  </pre>
<script src="ace-builds-master/src/ace.js" type="text/javascript" charset="utf-8"></script>
-->
<%= render partial: 'problems/editor_partial', locals: {problem: @problem, ace_modes: @ace_modes} %>


<!--
  <pre id="editor">
  //Your code goes here.
  </pre>

<script src="ace-builds-master/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/javascript");
    editor.setValue("the new text here");
</script>

-->
  <%= form_for :solution_submission, url: solution_submissions_path, :html => {:id => "form_ID"} do |f| %>  <p>
    <%= f.hidden_field :problem_id, value: @problem.id %>

    <%= f.text_area :submitted_code, size: "70x12" %>

    <% if @problem.skeleton_code != nil %>
      <%= f.label :title, 'Select language' %> 

    	<!--
    	<%= f.radio_button :language, 'C/C++', :checked => true %>
        <%= f.label :language, 'C/C++' %>
        <%= f.radio_button :language, 'Java' %>
        <%= f.label :language, 'Java'%>
        <%= f.radio_button :language, 'Python' %>
        <%= f.label :language, 'Python'%>
        -->    
      <% lang_array = @problem.supported_langs.map { |lang| [lang, lang] } %>
      <%= select_tag(:language, options_for_select(lang_array, @problem.supported_langs[0])) %>
    <% end %>

  </p>
 
  <p>
    <%= f.submit "Submit Solution"%>
  </p>
<% end %>
  
</p>

