<h2><%= @problem.problem_title %></h2>

<p>
  <strong>Problem Statment</strong><br>
  <%= @problem.problem_description %>  
</p>

<p>
  <strong>Input Description</strong><br>
  <%= @problem.input_description %>  
</p>

<p>
  <strong>Output Description</strong><br>
  <%= @problem.output_description %>  
</p>

<p>
  <strong>Sample Input</strong><br>
  <code>
  <%= simple_format(@problem.sample_input) %>  
  </code>
</p>

<p>
  <strong>Sample Output</strong><br>
  <code>
  <%= simple_format(@problem.sample_output) %>  
  </code>
</p>
 
<p>
  <strong>Code Editor Coming Soon</strong><br>
  <%= form_for :solution_submission, url: solution_submissions_path do |f| %>  <p>
    <%= f.label :title, 'Write your solution' %><br>
    <%= f.text_area :solution_string %><br>
    <%= f.hidden_field :problem_id, value: @problem.id %><br>
	
	<%= f.radio_button :language, 'C++', :checked => true %>
    <%= f.label :language, 'C++' %>
    <%= f.radio_button :language, 'Java' %>
    <%= f.label :language, 'Java'%>
    <%= f.radio_button :language, 'Python' %>
    <%= f.label :language, 'Python'%>
 
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
  
</p>

<%= link_to 'Back to Problems List', problems_path %>