<h1>Jobs List</h1>


<table>
  <tr>
    <th><%= sort_link(@search, :job_title, 'Title', default_order: :desc) %></th>
    <th><%= sort_link(@search, :job_type, 'Position', default_order: :desc) %></th>
    <th><%= sort_link(@search, :role_type, 'Role', default_order: :desc) %></th>
    <th><%= sort_link(@search, :company_name, 'Company', default_order: :desc) %></th>
    <th><%= sort_link(@search, :location, 'Location', default_order: :desc) %></th>
  </tr>
 
  <% @job.each do |job| %>
    <tr>
      <td><%= link_to job.job_title, job_path(job.id) %></td>
      <td><%= job.job_type %></td>
      <td><%= job.role_type %></td>
      <td><%= job.company_name %></td>
      <td><%= job.location %></td>      
    </tr>
  <% end %>
</table>