<h2><%= @job.job_title %></h2>



<p>
Posted: <%=@job.date_posted%> <br>
Number of Views: <%=@job.num_views%> <br>
Location: <%=@job.location%> <br>
Job Status: <%=@job.job_status%> <br>
</p>

<p>
  <strong>Role in Team</strong><br>
  <%= simple_format(@job.job_description) %>  
</p>

<p>
  <strong>Required Skills</strong><br>
  <%= simple_format(@job.skills_required) %>  
</p>

<%= link_to "Link to company careers", @job.job_link[0] %>

<%= link_to "Back to Jobs List", jobs_path %>

</p>