<h2>Preparation for Programming Interviews</h2>
<p>
</br>
<%=link_to 'SignUp', new_user_path%></br>
<%=link_to 'LogIn', sessions_login_path%></br>
<%=link_to 'Profile', sessions_profile_path%></br>
<%= link_to 'View Problems', problems_path %></br>
<%= link_to 'View Jobs', jobs_path %></br>
 The time is now: <%= Time.now %>
</p>





